.layout {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  height: calc(100vh - 70px);
  background: none;
  gap: 0;
}

/* .layout .video-grid {
    display: grid;
    grid-template-areas:
        "content  content content content"
        "content content content content";
} */

.layout .video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px; 
  margin: 16px 8px;
  padding: 8px;
  cursor: pointer;
}

.layout .shorts {
  display: grid;
  grid-template-areas:
    "content  content content content content"
    "content content content content content";
  cursor: pointer;
}

.layout .video-grid,
.layout .shorts {
  gap: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
