.short-card {
        width: 200px;
        height: 400px;
       margin-left: 0.7rem;
}

.short-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
}

.infos .infos-item {
        position: relative;
        top: -20px;
}